<ion-content padding>

  <div class="d-form">
    <ion-grid>
      <ion-row class="st-actor">
        <ion-col class="actor" [ngClass]="{'active': actor=='driver'}" (click)="changeActor('driver')">
          <h6>Driver</h6>
        </ion-col>
        <ion-col class="actor" [ngClass]="{'active': actor=='student'}" (click)="changeActor('student')">
          <h6>Student</h6>
        </ion-col>
      </ion-row>
    </ion-grid>
    <form [formGroup]="loginForm">
      <div class="inputs">
        <ion-item lines="none">
          <p class="help-bar" ion-text *ngIf="flag||loginForm.touched && loginForm.invalid">Please Enter Credentials</p>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ip-label" color="primary" position="stacked">{{actor=='driver'?'Bus Id':'Username'}}
          </ion-label>
          <ion-input placeholder="Ex:HYDH001" name="username" formControlName="username"></ion-input>
        </ion-item>
        <ion-item lines="none" *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
          <p ion-text color="danger">Please Enter Username</p>
        </ion-item>
        <div class="pswd">
          <ion-item lines="none">
            <ion-label class="ip-label" color="primary" position="stacked">Password</ion-label>
            <ion-input type="password" placeholder="Enter Password" name="password" formControlName="password" #pswd>
            </ion-input>
          </ion-item>
          <!-- <ion-icon class="shw" name="eye" (click)="showPswd()"></ion-icon>
     -->
          <ion-item lines="none" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
            <p ion-text color="danger">Please Enter Password</p>
          </ion-item>
        </div>
      </div>

      <!-- <ion-item lines="none"> -->
      <ion-button color="primary" expand="block" (click)="loginMe()">LOGIN</ion-button>

    </form>

    <ion-button *ngIf="actor!=='driver'" color="primary" expand="block" fill="outline" (click)="registerMe()">SIGNUP
    </ion-button>




  </div>



</ion-content>